:root {
  --cases-color: #cc1034;
  --recovered-color: #7dd71d;
  --deaths-color: #303030;
}

body {
  background-color: #f6f6f6;
}
.app {
  padding: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.app__left {
  margin: 0 2%;
  width: 60%;
}
.app__right {
  margin: 0 2%;
  width: 30%;
}

.app__right-content {
  display: flex;
  flex-direction: column;
}

.app__graph {
  height: 220px;
}

.app__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.app__stats {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1000px) {
  .app {
    flex-direction: column;
  }
  .app__left,
  .app__right {
    width: 100%;
    margin: 0;
  }
  .app__stats {
    flex-direction: column;
  }
}
