body {
  background-color: #f6f6f6;
}
.app {
  padding: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
@media screen and (max-width: 1000px) {
  .app {
    flex-direction: column;
  }
  .app__left {
    flex: 1;
  }
}
.app__left {
  flex: 0.75;
}
.app__right-content {
  display: flex;
  flex-direction: column;
}

.app__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.app__stats {
  display: flex;
  justify-content: space-between;
}
